:root {
    --default-font-size: 16px;
    --default-font-family: Arial, Helvetica, sans-serif;

    --color-default: #222020;
    --color-default-grey: #7a7a7a;
    --color-yellow: #ffde00;
    --color-white: #ffffff;
    --color-theme-main: #056943;
    --color-theme-price: #c60c0c;
    --color-theme-gray: #f4f4f4;
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    font-size: var(--default-font-size);
    color: var(--color-default);
    font-family: var(--default-font-family);
    background-color: var(--color-white);
}

body,
ol,
ul,
p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-default);
}
